@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


*{
	font-family: "Quicksand", monospace;
}

form{
	text-align: left;
}

nav{
	text-align: center;
}

#contact{
	background-image: url('https://wallpaper.dog/large/5486499.jpg');
/*	height: 52vh;*/
}